@import url('https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif; 
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(../images/AbstractBackground.jpg) no-repeat center center fixed;
    background-size: cover;
    background-position: center;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    height: 100%;
}
.wrapper{
    width: 420px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(10px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: aliceblue;
    border-radius: 10px;
    padding: 30px 40px;
}
.wrapper h2{
    font-size: 28px;
    text-align: center;
    margin-bottom: 20px;

}
.wrapper .inputBox{
    position: relative;
    width: 100%;
    height: 50px;
    background: transparent;
    margin: 30px 0;
}

.inputBox input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: aliceblue;
    padding: 20px 45px 20px 20px;


}
.inputBox input::placeholder{
    color: white;
}
.inputBox i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;

}
.wrapper .rememberForgot{
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
}
.rememberForgot label input{
    accent-color: #fff;
    margin-right: 3px;
}
.rememberForgot a{
    color: #fff;
    text-decoration: none;
}

.rememberForgot a:hover{
    text-decoration: underline;
}

.wrapper .btn{
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    color: #333;
    font-weight: 600;


}
.wrapper .registerLink{
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;

}
.registerLink p a{
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}
.registerLink p a:hover{
    text-decoration: underline;
}
.footerLogo{
    position: fixed;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;

    z-index: 100;
    width: auto;
    
    padding-bottom: 10px;
}

.footerLogo-image{
    width: 50px !important;
    height: auto; 
    opacity: 0.95;
    display: block;
    filter: invert(1) brightness(1.5);
}


.mainLogo-Header{
    position: fixed;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    margin-top: 20px;
    padding: 20px;
}

.mainLogo-Image{
    filter: invert(1) brightness(1);
    opacity: 1;
    width: 450px;
    height: auto;
    margin: 0 auto 20px;
    display: block;
}